<main class="main-container">
    <section class="main-content">
        <div class="empty-column">
            <!-- This empty column is used for layout purposes -->
            <!-- It helps create space between the main content and the edge of the screen --> 
        </div>
        <div class="main-left-column">
            <h1 class="main-headline-font">Collecting and browsing recipes as a FS Project</h1>
            <p class="main-regular-font">
                My journey through a FullStack development course has involved a comprehensive exploration of diverse aspects. 
                I've wholeheartedly embraced JavaScript as the cornerstone for enhancing webpage functionality. 
                Beyond webpage creation, I've ventured into the intricacies of working with powerful tools like Node.js and managing databases. This project serves as a practical showcase of my efforts to bring these elements together.
            </p>
            <p class="main-regular-font-continue">
                Within this project, I've examined the Document Object Model (DOM) and handled JSON data. 
                My focus extended to creating a well-organized folder structure and implementing environmental variables 
                to bolster file security. Additionally, I've adopted EJS to provide a more versatile framework for 
                crafting new sections and pages. This project serves as a testing ground for refining these skills, 
                with a primary aim to empower users to easily access, explore, and share their cherished recipes.
            </p>
            <p class="main-regular-font-continue">
                It underscores practical aspects such as data management, user interactions, and the creation of a 
                user-friendly recipe repository. The project's overarching objective is to enrich the culinary world by 
                offering a user-friendly platform for recipe collection and exploration.
            </p>
        </div>
        <div class="empty-column">
            <!-- Another empty column for layout purposes, mirroring the left empty column -->
        </div>
    </section>
</main>
