<main class="main-container">
    <section class="main-content">
        <div class="empty-column">
            <!-- This empty column is used for layout purposes -->
            <!-- It helps create space between the main content and the edge of the screen --> 
        </div>
        <div class="main-left-column">
            <h1 class="main-headline-font">Browse and add recipes!</h1>
            <h2 class="main-subheadline-font">27 Tasty Ways to Cook Potatoes</h2>
            <p class="main-regular-font">
                Explore our diverse collection of recipes or unleash your culinary creativity by sharing your own! 
                From hearty potbreads and savory stews to mouthwatering meaty dishes and plant-based wonders, 
                embark on a delightful culinary journey throughout your week. 
            </p>
            <p class="main-regular-font-continue">
                Discover the extraordinary in the everyday and savor the magic of food. 
                Whether you're a seasoned chef or a novice in the kitchen, our community is here to inspire 
                your taste buds and elevate your everyday meals. Join us in celebrating the joy of cooking 
                and the art of creating delicious memories.
            </p>
            <div class="homepagebuttons-container">
                <a href="/browse"><button role="button" class="homepagebuttons button-browse">BROWSE</button></a>
                <a href="/create"><button type="button" class="homepagebuttons button-add">ADD</button></a>
            </div>
        </div>
        <div class="empty-column">
            <!-- This empty column on the right is used for layout purposes -->
        </div>
    </section>
</main>
